#page-log-dash{
    width: 100vw;
    min-height: 100vh;
  
    display: flex;
}

#page-log-dash main{
    flex: 1;
}

#page-log-dash main .configs{
    width: 1120px;
    margin: 64px auto;
  
  
    overflow: hidden;
}

#page-log-dash main .configs .titles{
    padding-bottom: 24px;
    border-bottom: 1px solid #D3E2E5;

    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
}

#page-log-dash main .configs .titles h1{
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;

    color: #4D6F80;
}


#page-log-dash main .configs .titles label{
    font-size: 16px;
    line-height: 32px;
    text-align: right;

    color: #8FA7B3;
}

#page-log-dash main .orphanages-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#page-log-dash main .orphanages-container .orphanage{
    height: 309px;
    position: relative;

    border: 1px solid #D3E2E5;
    border-radius: 20px;
}

#page-log-dash main .orphanages-container .orphanage .leaflet-container{
    z-index: -1;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#page-log-dash main .orphanages-container .orphanage .infos{
    height: 82px;   
    position: absolute;

    bottom: 0;
    left: 0;

    padding: 24px 32px;
    z-index: 8;
    background-color:  #FFFFFF;

    display: flex;
    justify-content: space-between;

    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#page-log-dash main .orphanages-container .orphanage .infos p{
    font-size: 24px;
    line-height: 34px;

    color: #4D6F80;
}

#page-log-dash main .orphanages-container .orphanage .infos .options{
    width: 102px;

    display: flex;
    justify-content: space-between;
}

#page-log-dash main .orphanages-container .orphanage .infos .options .button{
    background: #EBF2F5;
    border-radius: 16px;

    height: 48px;
    width: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#page-log-dash main .orphanages-container .orphanage .infos .options .button:hover{
    cursor: pointer;
}


